name: Generate Keystore

on:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate keystore
        run: |
          keytool -genkey -v \
            -keystore release.keystore \
            -alias release-key \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -dname "CN=VoiceDeutschMaster, OU=Dev, O=Dev, L=City, S=State, C=US" \
            -storepass mypassword123 \
            -keypass mypassword123

      - name: Print Base64
        run: base64 -w 0 release.keystore